body{
	//background-color: #0099FF;
	font-size: 14pt;
	max-width: 800px;
	font-family: 'Open Sans', "Segoe UI Light", sans-serif;
	font-weight: 300;
}

.welcomeHeader {
	font-size: 28pt;
	background-color: #051F48;
	padding: 10px;
	//border-radius: 10px;
	font-weight: 500;

}

.welcomeHeader a {
	text-decoration: none;
	color: white;
	display: block;
	width: 100%;


}

h2 {
	font-size: 28px;
	border-bottom-color: #222222;
	border-bottom: solid 2px;
	margin-bottom: 15px;
	font-weight: 500;
}
h2 a{
	color: #000000;
	text-decoration: none;
	display: block;
	width: 100%;
}

a {
	color: #696969;
}
#projectList {
	padding-top: 15px;
	padding-bottom: 15px;
}

.listDesc{
    //border: 1px solid #C0C0C0;
	padding-bottom: 2px;
	/*margin-bottom: 2px;*/
	padding-top: 3px;
	padding-left: 3px;
	//background-color: #D5D5D5;
	/*width: auto;*/
	border-radius: 2px;
}
.listItem {
	padding: 2px;
	font-weight: 400;
	//background-color: #CACACa;
	//border: 1px solid #BFBFBF;
	text-decoration: none;
	color: #111111;
}
.listItem a {
	color: #111111;
	text-decoration: none;
	display:block;
	width:100%;
}

#footer{
	margin-top: 20px;
	border-top: 1px solid black;
}
